{% extends "base.html" %}
{% block title %}Mathematik Trainer{% endblock %}
{% block content %}
<h1>Mathematik Trainer</h1>
<p>{{ question }}</p>
<form method="post" action="{{ url_for('check_math_answer') }}">
    {% for answer in answers %}
        <input type="radio" name="answer" value="{{ answer }}" required> {{ answer }}<br>
    {% endfor %}
    <input type="hidden" name="correct_answer" value="{{ correct_answer }}">
    <button type="submit">Absenden</button>
</form>
<p id="timer"></p>
<script>
    let timeLeft = {{ time }};
    const timerElement = document.getElementById("timer");

    function updateTimer() {
        if (timeLeft <= 0) {
            document.forms[0].submit();
        } else {
            timerElement.innerText = "Zeit: " + timeLeft + " Sekunden";
            timeLeft--;
        }
    }

    setInterval(updateTimer, 1000);
</script>
{% endblock %}
